{% extends "core/base.html" %}

{% block scripts %}
<!--    <script src="/static/networks/networkCtrl.js"></script>-->
    <script src="/static/hardware/hardwareCtrl.js"></script>
    <script src="/static/host/host.js"></script>
{% endblock%}

{% block main %}
<main role="main" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id=""><span id="name"></span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="network"></h6>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="creation_date"></h6>
            <div class="card-subtitle mb-2 text-muted text-right form-check">
                <input class="form-check-input" type="checkbox" value="" id="host-dhcp">
                <label class="form-check-label" for="host-dhcp">
                DHCP
                </label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-danger btn-sm"
                            type="button" data-toggle="modal"
                            data-target="#host-delete-confirm">delete host
                    </button>
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-outline-primary btn-sm"
                            type="button" id="host-save-confirm">save host
                    </button>
                </div>
            </div>
            <p class="card-text" id="description"></p>
            <div class="row">
                <div class="col-sm-5">
{% include "host/host/hardware.html" %}
                </div>
                <div class="col-sm-7">
{% include "host/host/network.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock %}

{% block modal %}
{% include "host/host/modal.html" %}
{% endblock %}
