{% extends "core/base.html" %}

{% block scripts %}
    <script src="/static/host/host.js"></script>
{% endblock%}

{% block main %}
<main role="main" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id=""><span id="name"></span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="network"></h6>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="creation_date"></h6>
<!--            <hr/>-->
            <div class="row">
<!--                <div class="col-sm-4">-->
<!--                    <button class="btn btn-outline-primary btn-sm"-->
<!--                            type="button" data-toggle="modal"-->
<!--                            data-target="#interface-remove-confirm"-->
<!--                            id="interface-remove-confirm-btn">remove interface-->
<!--                    </button>-->
<!--                    <button class="btn btn-outline-primary btn-sm"-->
<!--                            type="button" data-toggle="modal"-->
<!--                            data-target="#interface-add" id="interface-add-btn">add interface-->
<!--                    </button>-->
<!--                </div>-->
                <div class="col-sm-12">
                    <button class="btn btn-danger btn-sm"
                            type="button" data-toggle="modal"
                            data-target="#host-delete-confirm">delete host
                    </button>
                </div>
            </div>
            <p class="card-text" id="description"></p>
            <div class="row">
                <div class="col-sm-5">
                {% include "host/host/hardware.html" %}
                </div>
                <div class="col-sm-7">
                {% include "host/host/network.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock %}

{% block modal %}
{% include "host/host/modal.html" %}
{% endblock %}
