{% extends "core/base.html" %}

{% block scripts %}
<script src="/static/domain/domainCtrl.js"></script>
<script src="/static/domain/domain.js"></script>
{% endblock%}

{% block main %}
<main role="main" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id="domain-name">name</h5>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="domain-dns-master">Address</h6>
            <h6 class="card-subtitle mb-2 text-muted text-right" id="domain-contact">Address</h6>
            <p class="card-text" id="domain-description"></p>
                <p class="card-text">
                    <table class="table table-striped table-bordered" id="domain-records" width="100%">
                        <caption>addresses for network</caption>
                        <tr>
                            <th scope="col">record</th>
                            <th scope="col">type</th>
                            <th scope="col">type</th>
                            <th scope="col">type</th>
                        </tr>
                    </table>
                </p>
        </div>
    </div>
<!--    <p id="domain-contact"></p>-->
<!--    <p id="domain-creation-date"></p>-->
</main>
{%endblock %}

