{% extends "core/base.html" %}

{% block scripts %}
        <script src="/static/domain/domain.js"></script>
{% endblock%}

{% block main %}
<main role="main" class="container">
    <div class="form">
        <ul class="nav-tabs nav mb-2" id="nav-domains">
        </ul>
        <div class="form-group row">
            <label for="domain-name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="domain-name" placeholder="example.com"
                   readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="domain-description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="domain-description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
        <label for="domain-dns-master" class="col-sm-2 col-form-label">DNS master</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="domain-dns-master" placeholder="127.0.0.1">
        </div>
        </div>
        <div class="form-group row">
        <label for="domain-contact" class="col-sm-2 col-form-label">Contact</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="domain-contact"
               placeholder="ns-master@example.com">
        </div>
        </div>
        <button type="submit" id="domain-update"
                class="btn btn-outline-secondary mb-2 ml-2 float-right" disabled>Confirm</button>
    </div>
</main>
{%endblock %}

