<div class="card col-sm-12">
    <div class="card-body" id="hardware-add">
        <div class="text-center col-sm-12">
            <h6 class="card-subtitle mb-2 text-muted text-right">Hardware</h6>
                <label for="hardware-add-interface" class="col-sm-12 col-form-label">
                    Interface MAC address</label>
                <div class="col-sm-12 mb-2">
                    <input type="text" class="form-control form-control-sm" id="hardware-add-interface">
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-lg btn-primary btn-sm btn-block" id="hardware-add-btn">add
                    </button>
                </div>
        </div>
    </div>
    <div class="card-body" id="hardware">
        <div class="form col-sm-12">
            <div class="form-group row">
                <label for="hardware-name" class="col-sm-4 col-form-label text-truncate">Name</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext form-control-sm" type="text" id="hardware-name"></p>
                </div>
            </div>
            <div class="form-group row">
                <label for="hardware-owner-edit" class="col-sm-4 col-form-label text-truncate">Owner</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="hardware-owner-edit">
                </div>
            </div>
            <div class="form-group row">
                <label for="hardware-buying-date-edit" class="col-sm-4 col-form-label text-truncate">Buying Date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="hardware-buying-date-edit">
                </div>
            </div>
            <div class="form-group row">
                <label for="hardware-description-edit" class="col-sm-4 col-form-label text-truncate">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="hardware-description-edit">
                </div>
            </div>
        </div>
        <hr/>
        <h6 class="card-subtitle mb-2 text-muted text-right">Interfaces</h6>
        <p class="col-sm-12" id="interfaces">
        </p>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-danger btn-sm btn-block" type="button" data-toggle="modal"
                  data-target="#interface-remove-confirm">unlink</button>
            </div>
            <div class="text-right col-sm-6">
                <button class="btn btn-lg btn-outline-primary btn-sm btn-block" id="hardware-edit-save">save
                </button>
            </div>
        </div>
    </div>
</div>
