<div class="modal"
     id="host-delete-confirm">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
{% include "host/host/modal/host-delete-confirm.html" %}
            </div>
        </div>
    </div>
</div>

<div class="modal"
     id="network-edit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
{% include "host/host/modal/network-edit.html" %}
            </div>
        </div>
    </div>
</div>

<div class="modal"
     id="interface-remove-confirm">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
{% include "host/host/modal/interface-remove.html" %}
            </div>
        </div>
    </div>
</div>
