<div class="card col-sm-12 mb-2">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted text-right">Address</h6>
        <p class="card-text" id="addresses">
        </p>
    </div>
</div>
<div class="card col-sm-12">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted text-right">Domain</h6>
        <p class="card-text" id="records">
        </p>
        <div class="text-right">
            <button class="btn btn-outline-danger btn-sm" type="button" data-toggle="modal"
              data-target="#network-edit">alias</button>
        </div>
    </div>
</div>
