{% extends "core/base.html" %}


{% block main %}
<main role="main" class="container">
<div class="jumbotron">
    <h3>Super LAN Address Manager</h3>
    <p>SLAM allow you to reserve IP address and generate DHCP/DNS/freeradius configuration</p>
    <p>
      <button class="btn btn-lg btn-primary" type="button" data-toggle="modal"
              data-target="#reservationForm">IP Address</button>
    </p>
</div>
</main>
{% endblock %}

{% block modal %}
{% include "core/reservation-form.html" %}
{% endblock %}