{% extends "core/base.html" %}

{% block scripts %}
        <script src="/static/domain/domainCtrl.js"></script>
        <script src="/static/networks/networkCtrl.js"></script>
        <script src="/static/host/hostCtrl.js"></script>
        <script src="/static/hardware/hardwareCtrl.js"></script>
        <script src="/static/core/index.js"></script>
{% endblock%}

{% block main %}
<main role="main" class="container">
    <div class="container mb-2">
        <input id="search-box" class="form-control form-control-sm" type="text"
               placeholder="search...">
    </div>
    <div class="jumbotron">
        <h3>Super LAN Address Manager</h3>
        <p>SLAM allow you to reserve IP address and generate DHCP/DNS/freeradius configuration</p>
        <p>
          <button class="btn btn-lg btn-primary" type="button" data-toggle="modal"
                  data-target="#reservationForm">IP Address</button>
        </p>
    </div>
<!--    <div class="container">-->
        <h3>Domains</h3>
        <div id="domains-dashboard" class="container row"></div>
        <h3>Networks</h3>
        <div id="networks-dashboard" class="container row"></div>
<!--    </div>-->
</main>
{% endblock %}

{% block modal %}
{% include "core/reservation-form.html" %}
{% endblock %}