{% extends "core/core.html" %}

{% block style %}
<link href="/static/core/login.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="/static/core/login.js"></script>
{% endblock%}

{% block contents %}
<div class="form-signin">
    <div class="card mb-2 collapse alert alert-danger" id="alert-box">
        <div class="card-body">
            <h6 class="card-subtitle text-muted text-right">Alert</h6>
            <p class="card-text" id="alert-message">
            </p>
        </div>
    </div>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" id="auth-request">Sign in</button>
</div>
{% endblock %}