<div class="modal"
     id="reservationForm">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-2">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted text-right">Network</h6>
                        <p class="card-text">
                        {% include "core/reservation-form/network-form.html" %}
                        </p>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted text-right">Hardware</h6>
                        <p class="card-text">
                            {% include "core/reservation-form/hardware-form.html" %}
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="add-host" disabled>Add new host</button>
            </div>
        </div>
    </div>
</div>
