<div class="modal"
     id="reservationForm">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                {% include "core/reservation-form/producer.html" %}
                <div class="card mb-2 collapse alert alert-danger" id="alert-box">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted text-right">Alert</h6>
                        <p class="card-text" id="alert-message">
                        </p>
                    </div>
                </div>
                <div class="card mb-2" id="network">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted text-right">Network</h6>
                        <p class="card-text">
                        {% include "core/reservation-form/network-form.html" %}
                        </p>
                    </div>
                </div>
                <div class="card mb-2" id="hardware">
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted text-right">Hardware</h6>
                        <p class="card-text">
                            {% include "core/reservation-form/hardware-form.html" %}
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="host-add-btn" disabled>Add new host</button>
            </div>
        </div>
    </div>
</div>
