<form>
    {% include "core/reservation-form/network-form/core.html" %}
</form>
<!--    <button type="button"-->
<!--            class="btn btn-primary btn-sm"-->
<!--            data-toggle="collapse"-->
<!--            data-target="#advanced-network"-->
<!--            aria-expanded="false"-->
<!--            aria-controls="advanced-network">Advanced</button>-->
    <div class="row">
        <div class="col">
            <div class="collapse" id="advanced-network">
                {% include "core/reservation-form/network-form/advanced.html" %}
            </div>
        </div>
    </div>
