<div class="card collapse mb-2 alert alert-success" id="success-box">
    <div class="card-body">
        <h6 class="card-subtitle text-muted text-right">Success</h6>
        <p class="card-text" id="success-message">
            Host created, you need to commit and push the final configuration
            file before make it available.

            We recommand to look at the diff output before pushing the configuration.
        </p>
        <p class="card-text">
            The IP address is <span id="success-ip-address"></span>
        </p>
        <button type="button"
                class="btn btn-success mb-2" id="commit">Commit</button>
        <button type="button"
                class="btn btn-success mb-2" id="push" disabled>Push</button>

        <pre class="card-text bg-white text-monospace" id="diff"></pre>
    </div>
</div>
